.nutrients {
  display: flex;
  gap: 20px;

}

.image {
  width: 480px;
  height: 240px;
}

.box {
  width: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nutrient__box {
  min-width: 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name {
  text-align: center;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 208px;

}

.header {
  line-height: 1.778;
}
