/* .login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-top: 180px;
} */

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 480px;
}

.header {
  text-align: center;
}

