.popup {
  position: relative;
  width: 720px;
  background-color: #1C1C21;
  height: 500px;
  border: 1px solid rgba(76, 76, 255, 0.2);
  border-radius: 40px;
}

.close:hover {
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
}

.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;

}
