@import url(../src/fonts/fonts.css);

body {
  margin: 0;
  font-family: 'Jet Brains Mono', 'Iceland'-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.constructor-element {
  width: 488px;
}

.main {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.input {
  min-width: 480px;
  margin-bottom: 24px;
}

.input__box {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  width: 100vw;
  margin-top: 180px;
}

.input__text-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.input__link {
  text-decoration: none;
  color: #4C4CFF;
}
